<p><a href="{{site.baseurl}}/docs/">Docs</a></p>
<div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
  <ul class="nav bs-docs-sidenav">
    {% assign docs = site.docs | where: 'category', 'Getting Started' | sort: 'weight' %}
    {% for doc in docs %}
      <li {% if doc.url == page.url %}class="active" id="active-menu"{% endif %}>
        <a {% if doc.url == page.url %}class="active"{% endif %} href="{{ site.baseurl }}{{ doc.url }}">
          {{doc.title}}
        </a>
      </li>
    {% endfor %}
  </ul>
  <a class="back-to-top" href="#top">
    Back to top
  </a>
</div>