---
layout: default
---

<div class="jumbotron text-center">
  <div class="container">
    <h1>Project Name</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eius voluptatum debitis quidem veniam consequatur velit placeat quo odit cum ratione quas eligendi, a excepturi facilis, in ab eum architecto.</p>
    <p style="margin-top: 50px;">
      <a href="{{ site.baseurl }}/docs/" class="btn btn-lg btn-primary">Get Started</a>
      <a href="{{ site.baseurl }}/docs/" class="btn btn-lg btn-primary btn-outline">Documentation</a>
    </p>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      {{ content }}
      <hr>
    </div>
  </div>
</div>
